<h3>Course Viewer </h3>

<app-course-grid></app-course-grid>
<app-module-list></app-module-list>
<app-lesson-tabs></app-lesson-tabs>
<app-topic-pills></app-topic-pills>
<app-widget-list></app-widget-list>


<!--<div class="container-fluid">-->


<!--  <h1>Course Viewer</h1>-->
<!--  <p>All your courses will be shown here</p>-->

<!--&lt;!&ndash;  <app-course-grid></app-course-grid>&ndash;&gt;-->


<!--  <div class="row">-->
<!--    <div class="col">-->

<!--      <ul class="list-group">-->


<!--        <li (click)="selectCourse(course)" *ngFor="let course of courses"-->
<!--            class="list-group-item list-group-item-action text-primary center">-->
<!--          {{course.title}}-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col">-->

<!--      <ul class="list-group">-->


<!--        <li (click)="selectModule(module)" *ngFor="let module of modules"-->
<!--            class="list-group-item list-group-item-action text-secondary col-11">-->
<!--          {{module.title}}-->
<!--        </li>-->


<!--      </ul>-->

<!--    </div>-->

<!--    <div class="col">-->

<!--      <ul class="list-group">-->


<!--        <li (click)="selectLesson(lesson)" *ngFor="let lesson of lessons"-->
<!--            class="list-group-item list-group-item-action text-success col-10">-->
<!--          {{lesson.title}}-->
<!--        </li>-->


<!--      </ul>-->

<!--    </div>-->

<!--    <div class="col">-->

<!--      <ul class="list-group">-->


<!--        <li (click)="selectTopic(topic)" *ngFor="let topic of topics"-->
<!--            class="list-group-item list-group-item-action text-danger col-9">-->
<!--          {{topic.title}}-->
<!--        </li>-->


<!--      </ul>-->


<!--    </div>-->

<!--    <div class="col">-->


<!--      <ul class="list-group">-->


<!--        <li *ngFor="let widget of widgets"-->
<!--            class="list-group-item list-group-item-action text-warning col-8">-->
<!--          {{widget.widgetType}}-->
<!--        </li>-->


<!--      </ul>-->

<!--    </div>-->
<!--  </div>-->


<!--</div>-->
