<div class="container-fluid">
  <h1>Profile</h1>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input class="wbdv-field wbdv-username"/>
  </div>

  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input class="wbdv-field wbdv-password" type="password"/>
  </div>


  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">First Name</span>
    </div>
    <input class="wbdv-field wbdv-firstname
"/>
  </div>


  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Last Name</span>
    </div>
    <input class="wbdv-field wbdv-lastname
"/>
  </div>


  <br/>


  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Date of Birth</span>
    </div>
    <input type="date"/>
  </div>

  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input class="wbdv-field wbdv-email" type="email"/>
  </div>

  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Phone</span>
    </div>
    <input class="wbdv-field wbdv-phone" type="phone"/>
  </div>


  <br/>


  <button type="button" class="wbdv-button wbdv-update btn btn-primary">Update Profile
  </button>
  &nbsp;
  <a routerLink="/login" class="wbdv-button wbdv-logout
">Log out</a>


</div>




