

<div class="container-fluid">
  <h1>Reigister</h1>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input class="wbdv-field wbdv-username"/>
  </div>

  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input class="wbdv-field wbdv-password" type="password"/>
  </div>

  <br/>

  <div class="input-group col-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Verify Password</span>
    </div>
    <input class="wbdv-field wbdv-verifyPassword wbdv-field wbdv-password" type="password"/>
  </div>

  <br/>


  <button type="button" class="
wbdv-button wbdv-register
 btn btn-primary">Register</button>
  &nbsp;
  <a routerLink="/login">Sign in!</a>





</div>



